<main
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  "
>
  <h1>NOT FOUND YOU FUCKING IMBECILE</h1>
  <p>This page does not FUCKING exist</p>
  <p>
    Honestly, who would think a route like "{{ router.url }}" would exist? What
    do you take us for? Fucking idiots?
  </p>
  <p>
    Get out of my sight and go
    <button mat-button [routerLink]="['/app']">
      Home <mat-icon>home</mat-icon>
    </button>
    already.
  </p>
</main>
