.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--mat-sys-surface);
  }

.step-label{
  white-space: normal;
}

.card-container{
  padding-bottom: 10px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.input-field{
    padding-right: 10px;
}

.input-container{
  padding-top: 10px;
}

.fit-content{
  width: fit-content;
  padding-bottom: 10px;
}

.name-title {
  font-family: 'Ms Madi';
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--mat-sys-on-surface);
}
