<main class="home-container">
  <mat-tab-group style="height: 100vh">
    <mat-tab label="Location">
      <app-location></app-location>
    </mat-tab>

    <mat-tab label="Accommodation">
      <app-accommodation></app-accommodation>
    </mat-tab>

    <mat-tab label="Dress Code">
      <app-dress-code></app-dress-code>
    </mat-tab>

    @if (invite?.sportsCarnival) {
    <mat-tab label="Sports Carnival">
      <app-sports-carnival></app-sports-carnival>
    </mat-tab>
    }
  </mat-tab-group>
</main>
