<div class="accommodation-cards">
  <mat-card appearance="raised" class="accommodation-card">
    <mat-card-header>
      <mat-card-title>Hotel 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
        corrupti veniam ut. Quia, amet corporis maiores ad repellat illum
        recusandae dicta possimus expedita iste reiciendis magni aperiam,
        quaerat fuga sit!
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>View Website<mat-icon>open_in_new</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="raised" class="accommodation-card">
    <mat-card-header>
      <mat-card-title>Hotel 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cupiditate
        minima totam nulla illum laboriosam, et hic aliquam eius distinctio
        recusandae maiores soluta expedita magni. Illo similique omnis magnam
        provident.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>View Website<mat-icon>open_in_new</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="raised" class="accommodation-card">
    <mat-card-header>
      <mat-card-title>Hotel 3</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquid
        facilis amet, maiores ad porro pariatur obcaecati consectetur eligendi
        rem quibusdam ullam repellendus molestias voluptate cumque assumenda
        rerum ab? Quas.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>View Website<mat-icon>open_in_new</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="raised" class="accommodation-card">
    <mat-card-header>
      <mat-card-title>Hotel 4</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et accusamus
        doloremque minima sequi omnis nobis eos temporibus ex magni dolore
        voluptate tempore eum vitae rem, pariatur quaerat illum atque illo.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>View Website<mat-icon>open_in_new</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="stay-input-card-container">
  <mat-card appearance="raised" class="stay-input-card">
    <mat-card-header>
      <mat-card-title>Let us know where you're staying</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Help us out by letting us know where you'll be staying for the wedding weekend and if you would like to be included in the bus transport.
      </p>
      <p style="color: green;">TO DO - enter address field and a checkbox for if they would like bus transport</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Add your Stay <mat-icon>add</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
