@if (isMobile()) {
<div style="padding: 1rem; text-align: center">
  <h2 class="wedding-venue-name">{{ weddingVenueName }}</h2>
  <p class="wedding-address">{{ weddingAddress }}</p>
  <p class="wedding-date">{{ weddingDate | date }}</p>
  <google-map
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    mapId="wedding_location"
    width="100%"
  >
    <map-advanced-marker #marker="mapAdvancedMarker" [position]="center" />
  </google-map>
</div>
} @else {
<div class="location-container">
  <div class="map-container">
    <google-map
      [center]="center"
      [zoom]="zoom"
      [options]="mapOptions"
      mapId="wedding_location"
      width="50vw"
      height="100%"
    >
      <map-advanced-marker #marker="mapAdvancedMarker" [position]="center" />
    </google-map>
  </div>
  <div class="location-details">
    <h2 class="wedding-venue-name">{{ weddingVenueName }}</h2>
    <p class="wedding-address">{{ weddingAddress }}</p>
    <p class="wedding-date">{{ weddingDate | date }}</p>
  </div>
</div>
}
