@if (inviteAcceptFormGroup && invite) {
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="inviteAcceptFormGroup!">
    <form [formGroup]="inviteAcceptFormGroup!">
      <ng-template matStepLabel>
        <div class="step-label">
          Hello {{ this.labelConstructor(invite) }} would you like to join us for our wedding?
        </div>
      </ng-template>
      @for (user of invite.UserInvite; track user.userId) {
      <div class="card-container">
        <mat-card>
          <mat-card-content class="accept-card">
            <mat-chip-listbox
              class="mat-mdc-chip-set"
              formControlName="{{ user.user.id }}"
              required
            >
              <div class="card-content">
                <span>{{ user.user.firstName }}?</span>
                <span>
                  <mat-chip-option value=True>Yes</mat-chip-option>
                  <mat-chip-option value=False>No</mat-chip-option>
                </span>
              </div>
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>
      } @if (invite.allowPlusOne){
      <div class="card-container">
        <mat-card>
          <mat-card-content class="accept-card">
            <mat-chip-listbox
              class="mat-mdc-chip-set"
              formControlName="plusOne"
              required
            >
              <div class="card-content">
                <span>Plus One?</span>
                <span>
                  <mat-chip-option value=True>Yes</mat-chip-option>
                  <mat-chip-option value=False>No</mat-chip-option>
                </span>
              </div>
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>
      }
      <div class="button-container">
        <button mat-button matStepperNext (click)="acceptFlow(); generateAdditionalInfoFormGroup()">Next</button>
      </div>
    </form>
  </mat-step>
  @if (additionalInfoFormGroup) {
  <mat-step [stepControl]="additionalInfoFormGroup!" label="Some more info">
    <form [formGroup]="additionalInfoFormGroup">
      @for (user of invite.UserInvite; track user.userId) {
        @if (checkAcceptance(user) === 'True') {
          <div>{{user.user.firstName}}</div>
            <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="{{ user.user.id }}_email" placeholder="" required />
            </mat-form-field>
            <mat-form-field appearance="outline">
          <mat-label>Dietary Restrictions</mat-label>
          <input matInput formControlName="{{ user.user.id }}_dietary" placeholder=""/>
            </mat-form-field>
            <mat-form-field appearance="outline">
          <mat-label>Allergies?</mat-label>
          <input matInput formControlName="{{ user.user.id }}_allergies" placeholder=""/>
            </mat-form-field>
        }
      }
      @if (invite.allowPlusOne && checkPlusOneAcceptance() === 'True') {
        <div>Plus One</div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
            <input matInput formControlName="plusOne_name" placeholder="" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
            <input matInput formControlName="plusOne_surname" placeholder="" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
            <input matInput formControlName="plusOne_email" placeholder="" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Dietary Restrictions</mat-label>
            <input matInput formControlName="plusOne_dietary" placeholder=""/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Allergies?</mat-label>
            <input matInput formControlName="plusOne_allergies" placeholder=""/>
        </mat-form-field>
      }
      <div class="button-container">
        <button mat-button matStepperPrevious (click)="nullifyAdditionalInfoFormGroup()">Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  }
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>YAHOO</p>
    <div class="button-container">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button [routerLink]="['../../']">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
} @else {
<p>Nothing here</p>
}
