<main>
  @if (invite$ | async; as invite) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>Invite {{ invite.code }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (user of invite.UserInvite; track user.userId) {
        <mat-list-item>
          <mat-icon matListItemIcon>person</mat-icon>
          <div matListItemTitle>Name</div>
          <div matListItemLine>
            {{ user.user.firstName }} {{ user.user.lastName }}
          </div>
        </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Accept</button>
      <button mat-button>Reject</button>
    </mat-card-actions>
  </mat-card>
  } @else {
  <p>Nothing here</p>
  }
</main>
