<!-- <main>
  @if (invite$ | async; as invite) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>Invite {{ invite.code }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (user of invite.UserInvite; track user.userId) {
        <mat-list-item>
          <mat-icon matListItemIcon>person</mat-icon>
          <div matListItemTitle>Name</div>
          <div matListItemLine>
            {{ user.user.firstName }} {{ user.user.lastName }}
          </div>
        </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Accept</button>
      <button mat-button>Reject</button>
    </mat-card-actions>
  </mat-card>
  } @else {
  <p>Nothing here</p>
  }
</main> -->

@if (invite$ | async; as invite) {
<mat-vertical-stepper [linear]=true #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Hey! @for (user of invite.UserInvite; track user.userId) {<span>{{user.user.firstName}}</span><span> and </span>}, <span>do you want to celebrate with us?</span> </ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-chip-listbox class="mat-mdc-chip-set">
          <mat-chip-option>YES!</mat-chip-option>
          <mat-chip-option>no</mat-chip-option>
      </mat-chip-listbox>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
              required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
} @else {
<p>Nothing here</p>
}
