<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      [opened]="!isMobile()"
      fixedTopGap="56"
    >
      <mat-nav-list>
        @for (nav of navItems; track nav) {
        <mat-list-item [routerLink]="nav.route">
          <mat-icon matListItemIcon>{{ nav.icon }}</mat-icon>
          <div matLine>
            {{ nav.name }}
          </div>
        </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="padding: 15px 15px 0px 15px">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
