main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

p {
  padding: 0 1rem 0 1rem;
}

.sad-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.sign-off {
  font-family: 'Ms Madi';
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

