.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name-title {
  font-family: "Ms Madi";
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--mat-sys-on-surface);
}

#wedding-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.version-number {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #888;
  font-size: 0.9em;
}

.theme-button-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
