<main
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--mat-sys-surface);
  "
>
  <div class="theme-button-container">
    @switch (themeService.currentTheme()) { @case ('dark') {
    <button class="button" (click)="themeService.toggleTheme()" mat-icon-button>
      <mat-icon>dark_mode</mat-icon>
    </button>
    } @case ('light') {
    <button class="button" (click)="themeService.toggleTheme()" mat-icon-button>
      <mat-icon>light_mode</mat-icon>
    </button>
    }}
  </div>
  <mat-card class="center-card" appearance="raised" style="width: 400px">
    <mat-card-header>
      <mat-card-title class='name-title'>Brooke & Kuba</mat-card-title>
      <mat-card-subtitle>22 November, 2025</mat-card-subtitle>
    </mat-card-header>
    <img
      src="{{image}}"
      alt="Wedding"
      id="wedding-image">
    <mat-card-content style="margin-top: 15px">
      <mat-form-field appearance="outline">
        <mat-label>Invite Code</mat-label>
        <input style="text-align:center;" matInput type="tel" [formControl]="codeControl" (keyup.enter)="routeToInvite()" />
        <mat-error>Invalid Code</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button [disabled]="codeControl.invalid" (click)="routeToInvite()">Submit</button>
    </mat-card-actions>
    <mat-card-footer>
      <p style="text-align: center; color: #666; opacity: 0.7;">
        You can find your invite code on the invitation card
      </p>
      @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </mat-card-footer>
  </mat-card>
  <span class="version-number">
    V{{ version }}
  </span>
</main>
